body, html,#allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
}



.BMap_cpyCtrl, .anchorBL {display: none; }


#search-container {
  position: absolute;
  top:50px;
  left: 10px;
  z-index: 9999;
  display: flex;
  align-items: center;
  max-width: 300px;
  background-color: #228DBFC3;
  border-radius: 20px;
  overflow: hidden;
  transition: max-width 0.8s ease-in-out;

}

#search-container input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 10px;
  background-color: transparent;
  outline: none;
}

#search-container button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
}

#search-container i {
  color: #888;
  transition: color 0.3s ease;
}

#search-container:hover {
  max-width: 500px;
}

#search-container:hover i {
  color: #333;
}

.tangram-suggestion {
    /* 添加你的样式属性 */
    background: #8076a3;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 9999;     /*起作用的语句*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.tangram-suggestion table tr td {
    /* 添加你的样式属性 */
    padding: 8px;
    font-size: 14px;
    color: #1ba784;
  }



#operator-container{
  position: absolute;
  top:20px;
  left: 250px;
  z-index: 9999;
  display: flex;
  align-items: center;
  max-width: 300px;
  background-color: #9aa4c1;
  border-radius: 5px;
  overflow: hidden;
  transition: max-width 0.8s ease-in-out;
}

#operator-container i {
  color: #4b1c1c;

}

#operator-container:hover {
  max-width: 500px;
}

#operator-container:hover i {
  color: #333;
}


#myDropdown {
/*    flex-grow: 1;
  padding=10px; */
/*   display: none; */
/*   position: relative; */
/*   max-width: 900px; */
/*   width:100%; */
/*   top: 100%;
  left: 0; */
/*     flex-grow: 1; */
  border: none;
  padding: 10px;
  background-color: #c9141400;
  outline: none;
}

#myDropdown.show {
/*   display: block; */
}


