<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/Map.css">
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=UviWxqA0VzgsjjHvtcQCqj65lBnZZBo5"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="http://api.map.baidu.com/res/20/bmap_autocomplete.css">
    <title>蜂窝网络信号分布地图</title>
</head>
<body>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="搜索...">
        <button id="search-button">
          <i class="fas fa-search"></i>
        </button>
    </div>

    <div id="operator-container">
        <select id="myDropdown">
            <option value="全部运营商">全部运营商</option>
          <option value="中国移动">中国移动</option>
          <option value="中国电信">中国电信</option>
          <option value="中国联通">中国联通</option>
        </select>
    </div>

<div class="tangram-suggestion">
  <!-- 这里是地点检索下拉列表的内容 -->
</div>

   <div id="allmap"></div>
</body>
</html>
<script type="text/javascript" src="../static/js/Map.js"></script>
